<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题目录入</title>
    <link href="../css/flexPlugin.css" rel="stylesheet">
    <link href="../css/quesBlock.css" rel="stylesheet">
    <link href="../css/customSelect.css" rel="stylesheet">
    <link href="../css/cover.css" rel="stylesheet">
    <link href="../css/select.css" rel="stylesheet">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .titleBorder {
            height: 5%;
            border-bottom: solid 2px #d6e6ff
        }

        .titleFont {
            height: 70%;
            font-size: 1.3vw;
            padding-left: 1%;
            color: #3685fe
        }

        .itemFont {
            height: 70%;
            font-size: 1vw;
            color: #676767;
        }

        .blockActive {
            background-color: #65a2ff;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: white;
            cursor: pointer;
        }

        .blockHead {
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: #676767;
        }

        .center-vertical {
            position: relative;
            top: 15%;
            transform: translateY(-5%);
        }

        .save-center-vertical {
            position: relative;
            top: 15%;
            transform: translateY(-15%);
        }

        .recordMain {
            height: 34%;
        }

        .subRecordBlock {
            background-color: #f6f9fe;
            border-radius: 5px;
            border: solid 1px #d6e6ff
        }

        .saveRecord {
            background-color: #65a2ff;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: white;
            cursor: pointer;
        }

        .editRecord {
            background-color: green;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: white;
            cursor: pointer;
        }

        p {
            border-bottom: 1px dotted grey;
        }

        .editDemo {
            overflow: hidden;
        }

        .blockActiveSelect {
            border-radius: 3px;
            font-size: 2vh;
            color: white;
            cursor: pointer;
        }
    </style>

</head>
<body>
<div class="cover pageCover" th:include="cover/cover::loadCover"></div>
<div class="titleBorder">
    <div style="height: 15%"></div>
    <div class="titleFont">录入</div>
    <div style="height: 15%"></div>
</div>
<div style="height:2%"></div>
<div style="height:90%">
    <form action="" method="post" id="question" style="height: 100%">
        <div class="container">
            <div class="col-sm-15"></div>
            <div class="col-sm-70">
                <div style="height: 5%">
                    <div class="container">
                        <div class="col-sm-10 blockHead ">
                            <font class="center-vertical">题型所属:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select name="question_type" id="question_type">
                                <option value="" disabled selected style='display:none;'>选择题型</option>
                                <option value="1">单选</option>
                                <option value="2">多选</option>
                                <option value="3">填空</option>
                                <option value="4">判断</option>
                                <option value="5">简答</option>
                                <option value="6">实验</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select name="is_subExam" id="is_subExam">
                                <option value="" disabled selected style='display:none;'>是否适用小高考</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select name="difficult_level" id="difficult_level">
                                <option value="" disabled selected style='display:none;'>选择难度</option>
                                <option value="5.0">困难</option>
                                <option value="4.0">难</option>
                                <option value="3.0">一般</option>
                                <option value="2.0">简单</option>
                                <option value="1.0">十分简单</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select name="has_copy_right" id="has_copy_right">
                                <option value="" disabled selected style='display:none;'>选择是否原创</option>
                                <option value="1" selected="selected">原创题目</option>
                                <option value="0">非原创题目</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="height: 2%"></div>
                <div style="height: 5%">
                    <div class="container">
                        <div class="col-sm-10 blockHead ">
                            <font class="center-vertical">题目所属:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="gradeName" name="gradeName"
                                    onchange="changeGrade(this.options[this.options.selectedIndex].value)">
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="chapterName" name="chapterName"
                                    onchange="changeChapter(this.options[this.options.selectedIndex].value)">
                                <option value="" disabled selected style="display:none;">选择章节</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="chapterSubName" name="chapterSubName"
                                    onchange="changeChapterSub(this.options[this.options.selectedIndex].value)">
                                <option value="" disabled selected style="display:none;">选择章节子项</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="chapterSubItemName" name="chapterSubItemName">
                                <option value="" disabled selected style="display:none;">选择章节知识点</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="height: 2%"></div>
                <div style="height: 5%">
                    <div class="container">
                        <div class="col-sm-10 blockHead ">
                            <font class="center-vertical">题目所属:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="majorName" name="majorName"
                                    onchange="changeMajor(this.options[this.options.selectedIndex].value)">
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-25 blockActiveSelect ">
                            <!--<select id="majorSubName" name="majorSubName"-->
                                    <!--onchange="changeMajorSub(this.options[this.options.selectedIndex].value)">-->
                                <!--<option value="" disabled selected style="display:none;">选择子项</option>-->
                            <!--</select>-->
                            <div id="majorSubNameBlock" class="selectPickerWrapper">
                                <select class="hidden" multiple="multiple" id="majorSubName" name="majorSubItemName">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-37 blockActiveSelect" style="text-align: left">
                            <!--<select id="majorSubItemName" name="majorSubItemName">-->
                            <!--<option value="" disabled selected style="display:none;">选择子知识点</option>-->
                            <!--</select>-->
                            <div id="majorSubItemNameBlock" class="selectPickerWrapper">
                                <select class="hidden" multiple="multiple" id="majorSubItemName" name="majorSubItemName">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 2%"></div>
                <label style="font-weight: bold">请在下方录入题目：<font color="red">(图片尽量换行显示并采用上传的方式插入)</font></label>
                <div style="height: 0.5%"></div>
                <input type="hidden" id="question_id" value="">
                <div class="recordContainer">
                    <div class="recordBody">
                        <div class="content">
                            <div id="questionContent" contentEditable="true" class="editDemo">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div class="container" style="height: 5%;text-align: center">
                    <div class="col-sm-92"></div>
                    <div id="saveQuestion" class="col-sm-8 saveRecord" onclick="saveQuestion();" style="float: left">
                        <font id="saveFont" class="save-center-vertical">保存题目</font>
                    </div>
                </div>
                <div style="height: 1%"></div>
                <label style="font-weight: bold">请在下方录入题目解析: <font color="red">(图片尽量换行显示并采用上传的方式插入)</font></label>
                <div style="height: 0.5%"></div>
                <div class="recordContainer">
                    <div class="recordBody">
                        <div class="content">
                            <div id="questionSimpleSolve" contentEditable="true" class="editDemo">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div class="container" style="height: 5%;text-align: center">
                    <div class="col-sm-92"></div>
                    <div id="saveSimpleAnswer" class="col-sm-8 saveRecord" onclick="saveSimpleAnswer();"
                         style="float: left">
                        <font id="saveSimpleAnswerFont" class="save-center-vertical">保存答案</font>
                    </div>
                </div>
                <div style="height: 1%"></div>
                <label style="font-weight: bold">请在下方录入题目详细解析(分步请用水平线分隔)：<font
                        color="red">(图片尽量换行显示并采用上传的方式插入)</font></label>
                <div style="height: 0.5%"></div>
                <div class="recordContainer">
                    <div class="recordBody">
                        <div class="content">
                            <div id="questionStepSolve" contentEditable="true" class="editDemo">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div class="container" style="height: 5%;text-align: center">
                    <div class="col-sm-92"></div>
                    <div id="saveStepAnswer" class="col-sm-8 saveRecord" onclick="saveStepAnswer();"
                         style="float: left">
                        <font id="saveStepAnswerFont" class="save-center-vertical">保存答案</font>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="../formula/jmeditor/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../formula/jmeditor/JMEditor.js"></script>
<script type="text/javascript" src="../js/layer/layer.min.js"></script>
<script type="text/javascript" src="../js/record/initOptions.js"></script>
<script type="text/javascript" src="../js/record/record.js"></script>
<script type="text/javascript" src="../js/cover.js"></script>
<script type="text/javascript" src="../js/select.js"></script>
<script>
    $(function () {
        $("#majorSubNameBlock").mySelect();
        $("#majorSubItemNameBlock").mySelect();



        //     .change(function () {
        //     alert($(this).html())
        // })
    })
</script>
</html>