<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/flexPlugin.css" rel="stylesheet">
    <link href="../css/quesBlock.css" rel="stylesheet">
    <link href="../css/customSelect.css" rel="stylesheet">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .titleBorder {
            height: 5%;
            border-bottom: solid 2px #d6e6ff
        }

        .titleFont {
            height: 70%;
            font-size: 1.3vw;
            padding-left: 1%;
            color: #3685fe
        }

        .itemFont {
            height: 70%;
            font-size: 1vw;
            color: #676767;
        }

        .blockActive {
            background-color: #65a2ff;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: white;
            cursor: pointer;
        }

        .blockHead {
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: #676767;
        }

        .center-vertical {
            position: relative;
            top: 15%;
            transform: translateY(-5%);
        }

        .save-center-vertical {
            position: relative;
            top: 15%;
            transform: translateY(-15%);
        }

        .recordMain {
            height: 34%;
        }

        .subRecordBlock {
            background-color: #f6f9fe;
            border-radius: 5px;
            border: solid 1px #d6e6ff
        }

        .saveRecord {
            background-color: #65a2ff;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: white;
            cursor: pointer;
        }
        p{
            border-bottom: 1px dotted grey;
        }
    </style>

</head>
<body>
<div class="titleBorder">
    <div style="height: 15%"></div>
    <div class="titleFont">录入</div>
    <div style="height: 15%"></div>
</div>
<div style="height:2%"></div>
<div style="height:90%">
    <form action="" method="post" id="question" style="height: 100%">
        <div class="container">
            <div class="col-sm-15"></div>
            <div class="col-sm-70">
                <div style="height: 5%">
                    <div class="container">
                        <div class="col-sm-10 blockHead ">
                            <font class="center-vertical">题型所属:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select name="question_type" id="question_type">
                                <option value="" disabled selected style='display:none;'>选择题型</option>
                                <option value="1">单选</option>
                                <option value="2">多选</option>
                                <option value="3">填空</option>
                                <option value="4">判断</option>
                                <option value="5">简答</option>
                                <option value="6">实验</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select name="is_subExam" id="is_subExam">
                                <option value="" disabled selected style='display:none;'>是否适用小高考</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="height: 2%"></div>
                <div style="height: 5%">
                    <div class="container">
                        <div class="col-sm-10 blockHead ">
                            <font class="center-vertical">题目所属:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="gradeName" name="gradeName"
                                    onchange="changeGrade(this.options[this.options.selectedIndex].value)">
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="chapterName" name="chapterName"
                                    onchange="changeChapter(this.options[this.options.selectedIndex].value)">
                                <option value="" disabled selected style="display:none;">选择章节</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="chapterSubName" name="chapterSubName"
                                    onchange="changeChapterSub(this.options[this.options.selectedIndex].value)">
                                <option value="" disabled selected style="display:none;">选择章节子项</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-18 blockActive ">
                            <select id="chapterSubItemName" name="chapterSubItemName">
                                <option value="" disabled selected style="display:none;">选择章节知识点</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="height: 2%"></div>
                <label style="font-weight: bold">请在下方录入题目：</label>
                <div style="height: 0.5%"></div>
                <input type="hidden" id="question_id" value="">
                <div class="recordContainer">
                    <div class="recordBody">
                        <div class="content">
                            <div id="questionContent" contentEditable="true" class="editDemo">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div class="container" style="height: 5%;text-align: center">
                    <div class="col-sm-92"></div>
                    <div class="col-sm-8 saveRecord" onclick="saveQuestion();" style="float: left">
                        <font class="save-center-vertical">保存题目</font>
                    </div>
                </div>
                <div style="height: 1%"></div>
                <label style="font-weight: bold">请在下方录入题目解析:</label>
                <div style="height: 0.5%"></div>
                <div class="recordContainer">
                    <div class="recordBody">
                        <div class="content">
                            <div id="questionSimpleSolve" contentEditable="true" class="editDemo">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div class="container" style="height: 5%;text-align: center">
                    <div class="col-sm-92"></div>
                    <div class="col-sm-8 saveRecord" onclick="saveSimpleAnswer();" style="float: left">
                        <font class="save-center-vertical">保存答案</font>
                    </div>
                </div>
                <div style="height: 1%"></div>
                <label style="font-weight: bold">请在下方录入题目详细解析(分步请用水平线分隔)：</label>
                <div style="height: 0.5%"></div>
                <div class="recordContainer">
                    <div class="recordBody">
                        <div class="content">
                            <div id="questionStepSolve" contentEditable="true" class="editDemo">

                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div class="container" style="height: 5%;text-align: center">
                    <div class="col-sm-92"></div>
                    <div class="col-sm-8 saveRecord" onclick="saveStepAnswer();" style="float: left">
                        <font class="save-center-vertical">保存答案</font>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="../formula/jmeditor/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../formula/jmeditor/JMEditor.js"></script>
<script>
    var selectOptionFirstTemplate = '<option value ="" disabled selected style="display:none;">OPTIONNAME</option>';
    var selectOptionTemplate = '<option value = OPTIONVALUE>OPTIONNAME</option>';
    $(function () {
        getGrade();
    })

    function getGrade() {
        $.ajax({
            cache: true,
            type: "GET",
            url: "../highPhyGrChCtl/getGradeInfo",
            async: false,
            error: function (request) {
                alert("error")
            },
            success: function (data) {
                var grades = data.grades;
                $('#gradeName').empty();
                $('#gradeName').append(selectOptionFirstTemplate.replace('OPTIONNAME', '选择年级'))
                for (var i = 0; i < grades.length; i++) {
                    $('#gradeName').append(selectOptionTemplate.replace('OPTIONVALUE', grades[i].id).replace('OPTIONNAME', grades[i].grade));
                }
            }
        });
    }

    function changeGrade(gradeId) {
        $.ajax({
            cache: true,
            type: "GET",
            url: "../highPhyGrChCtl/getChapterInfo?gradeId=" + gradeId,
            async: false,
            error: function (request) {
                alert("error")
            },
            success: function (data) {
                var chapters = data.chapters;
                $('#chapterName').empty();
                $('#chapterSubName').empty();
                $('#chapterSubName').append('<option value ="" disabled selected style="display:none;">选择章节子项</option>')
                $('#chapterSubItemName').empty();
                $('#chapterSubItemName').append('<option value ="" disabled selected style="display:none;">选择章节知识点</option>')
                $('#chapterName').append(selectOptionFirstTemplate.replace('OPTIONNAME', '选择章节'))
                for (var i = 0; i < chapters.length; i++) {
                    $('#chapterName').append(selectOptionTemplate.replace('OPTIONVALUE', chapters[i].id).replace('OPTIONNAME', chapters[i].chapter_name));
                }
            }
        });
    }

    function changeChapter(chapterId) {
        $.ajax({
            cache: true,
            type: "GET",
            url: "../highPhyGrChCtl/getChapterSubInfo?chapterId=" + chapterId,
            async: false,
            error: function (request) {
                alert("error")
            },
            success: function (data) {
                var chapterSubs = data.chapterSubs;
                $('#chapterSubName').empty();
                $('#chapterSubItemName').empty();
                $('#chapterSubItemName').append('<option value ="" disabled selected style="display:none;">选择章节知识点</option>')
                $('#chapterSubName').append(selectOptionFirstTemplate.replace('OPTIONNAME', '选择章节子项'))
                for (var i = 0; i < chapterSubs.length; i++) {
                    $('#chapterSubName').append(selectOptionTemplate.replace('OPTIONVALUE', chapterSubs[i].id).replace('OPTIONNAME', chapterSubs[i].chapter_sub_name));
                }
            }
        });
    }

    function changeChapterSub(chapterSubId) {
        $.ajax({
            cache: true,
            type: "GET",
            url: "../highPhyGrChCtl/getChapterSubItemInfo?chapterSubId=" + chapterSubId,
            async: false,
            error: function (request) {
                alert("error")
            },
            success: function (data) {
                var chapterSubItems = data.chapterSubItems;
                $('#chapterSubItemName').empty();
                $('#chapterSubItemName').append('<option value ="" disabled selected style="display:none;">选择章节知识点</option>')
                for (var i = 0; i < chapterSubItems.length; i++) {
                    $('#chapterSubItemName').append(selectOptionTemplate.replace('OPTIONVALUE', chapterSubItems[i].id).replace('OPTIONNAME', chapterSubItems[i].chapter_sub_item));
                }
            }
        });
    }


    function saveQuestion() {
        clearFormat();
        $.ajax({
            cache: true,
            type: "POST",
            url: "/quesBank/highPhyQuesCtl/saveHighPhysicsQuestion",
            data: {
                question_type: $('#question_type').val(),
                question_content: JMEditor.html('questionContent'),
                grade_id: $('#gradeName').val(),
                chapter_id: $('#chapterName').val(),
                chapter_sub_id: $('#chapterSubName').val(),
                chapter_sub_item_id: $('#chapterSubItemName').val()
            },
            async: false,
            error: function (request) {
                alert("error")
            },
            success: function (data) {
                $('#question_id').val(data.questionId)
                alert('保存成功')
            }
        });
    }

    function saveSimpleAnswer() {
        $.ajax({
            cache: true,
            type: "POST",
            url: "/quesBank/highPhySimAnswerCtl/saveHighPhysicsSimpleAnswer",
            data: {
                question_id: $('#question_id').val(),
                simple_answer: JMEditor.html('questionSimpleSolve')
            },
            async: false,
            error: function (request) {
                alert("error")
            },
            success: function (data) {
                alert('保存成功')
            }
        });
    }

    function saveStepAnswer() {
        $.ajax({
            cache: true,
            type: "POST",
            url: "/quesBank/highPhyStepAnswerCtl/saveHighPhysicsStepAnswer",
            data: {
                question_id: $('#question_id').val(),
                detail_answer: JMEditor.html('questionStepSolve')
            },
            async: false,
            error: function (request) {
                alert("error")
            },
            success: function (data) {
                alert('保存成功');
                window.location.reload(true)
            }
        });
    }
    
    function clearFormat() {
        $('#questionContent *').removeAttr('style')
        $('#questionContent img').each(function () {
            var image = $(this)
            var imageSrc = $(this)[0].src;
            $.ajax({
                cache : true,
                type : "POST",
                url : "/quesBank/demo/upload",
                async: false,
                data : {
                    base64: imageSrc.replace('data:image/png;base64,','')
                },
                async : false,
                error : function(request) {
                    alert("error")
                },
                success : function(data) {
                    image.attr('src','/quesBank/image/'+data+'.png')
                    image.attr('data-cke-saved-src','/quesBank/image/'+data+'.png')
                }
            });
        })

    }
    
    function clearAnswerFormat() {
        $('#questionSimpleSolve *').removeAttr('style')
        $('#questionSimpleSolve img').each(function () {
            var image = $(this)
            var imageSrc = $(this)[0].src;
            $.ajax({
                cache : true,
                type : "POST",
                url : "/quesBank/demo/upload",
                async: false,
                data : {
                    base64: imageSrc.replace('data:image/png;base64,','')
                },
                async : false,
                error : function(request) {
                    alert("error")
                },
                success : function(data) {
                    image.attr('src','/quesBank/image/'+data+'.png')
                    image.attr('data-cke-saved-src','/quesBank/image/'+data+'.png')
                }
            });
        })
    }
    
    function clearStepAnswerFormat() {
        $('#questionStepSolve *').removeAttr('style')
        $('#questionStepSolve img').each(function () {
            var image = $(this)
            var imageSrc = $(this)[0].src;
            $.ajax({
                cache : true,
                type : "POST",
                url : "/quesBank/demo/upload",
                async: false,
                data : {
                    base64: imageSrc.replace('data:image/png;base64,','')
                },
                async : false,
                error : function(request) {
                    alert("error")
                },
                success : function(data) {
                    image.attr('src','/quesBank/image/'+data+'.png')
                    image.attr('data-cke-saved-src','/quesBank/image/'+data+'.png')
                }
            });
        })
    }
</script>
</html>