<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.physics.quesbank.dao.highPhysicsQuestion.HighPhysicsQuestionDao">

    <!-- saveInfo -->
    <insert id="saveInfo" parameterType="HighPhysicsQuestion">
        insert into high_physics_question (
            id,
            question_type,
            is_subExam,
            question_content,
            grade_id,
            chapter_id,
            chapter_sub_id,
            chapter_sub_item_id,
            major_id,
            major_sub_id,
            major_sub_item_id,
            status,
            recommend_count,
            record_time,
            record_teacher_id,
            difficult_level,
            has_copy_right
        )values(
            #{id},
            #{question_type},
            #{is_subExam},
            #{question_content},
            #{grade_id},
            #{chapter_id},
            #{chapter_sub_id},
            #{chapter_sub_item_id},
            #{major_id},
            #{major_sub_id},
            #{major_sub_item_id},
            #{status},
            #{recommend_count},
            #{record_time},
            #{record_teacher_id},
            #{difficult_level},
            #{has_copy_right}
        )
    </insert>

    <!-- listInfo -->
    <select id="listInfo" parameterType="HighPhysicsQuestion" resultType="HighPhysicsQuestion">
        select hpq.*,
               hpsa.simple_answer
        from high_physics_question hpq
        left join high_physics_simple_answer hpsa
        on hpsa.question_id = hpq.id
        order by record_time desc
    </select>

    <!-- listInfoByPage -->
    <select id="listInfoByPage" parameterType="PagePlugin" resultType="HighPhysicsQuestion">
        select hpq.*,
               hpsa.simple_answer,
               sui.user_name as record_teacher_name
        from high_physics_question hpq
        left join high_physics_simple_answer hpsa
        on hpsa.question_id = hpq.id
        left join system_user_info sui
        on sui.id = hpq.record_teacher_id
        order by record_time desc
    </select>

    <!-- editInfo -->
    <update id="editInfo" parameterType="HighPhysicsQuestion">
        update high_physics_question set
           question_type = #{question_type},
           is_subExam  = #{is_subExam},
           question_content  = #{question_content},
           grade_id = #{grade_id},
           chapter_id  = #{chapter_id},
           chapter_sub_id  = #{chapter_sub_id},
           chapter_sub_item_id  = #{chapter_sub_item_id},
           major_id = #{major_id},
           major_sub_id = #{major_sub_id},
           major_sub_item_id = #{major_sub_item_id},
           difficult_level = #{difficult_level},
           has_copy_right = #{has_copy_right}
        where id = #{id}
    </update>
</mapper>
 
