<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.physics.quesbank.dao.highPhysicsQuestion.HighPhysicsStepAnswerDao">

    <!-- saveInfo -->
    <insert id="saveInfo" parameterType="HighPhysicsStepAnswer">
      insert into high_physics_step_answer (
        id,
        question_id,
        step,
        detail_answer
      )values(
        #{id},
        #{question_id},
        #{step},
        #{detail_answer}
      )
    </insert>

    <!-- listInfo -->
    <select id="listInfo" parameterType="HighPhysicsStepAnswer" resultType="HighPhysicsStepAnswer">
        select * from high_physics_step_answer where question_id = #{question_id} order by step
    </select>

    <!-- delInfo -->
    <delete id="delInfo" parameterType="HighPhysicsStepAnswer">
        delete from high_physics_step_answer where question_id = #{question_id}
    </delete>
</mapper>
 
