<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/flexPlugin.css" rel="stylesheet">
    <style>
        html,body{
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin-top: -0.1px;
            margin-left: -0.1px;
        }
        .titleBorder{
            height:5%;
            border-bottom: solid 2px #d6e6ff
        }
        .titleFont{
            height: 70%;
            font-size: 1.3vw;
            padding-left: 1%;
            color: #3685fe
        }
        .blockActive{
            background-color: #65a2ff;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: white;
            cursor: pointer;
        }
        .blockHead{
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: #676767;
        }
        .center-vertical{
            position: relative;
            top:5%;
            transform:translateY(-5%);
        }
        .save-center-vertical{
            position: relative;
            top:25%;
            transform:translateY(-25%);
        }
        .recordMain{
            height: 60%;
        }
        .subRecordBlock{
            background-color: #f6f9fe;
            border-radius: 5px;
            border: solid 1px #d6e6ff
        }
        .saveRecord{
            background-color: #65a2ff;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: white;
            cursor: pointer;
        }
        .bottomLine{
            height:3%;
            border-top: solid 2px #d6e6ff;
            width: 95%;
        }
        .subPage{
            width: 100%;
            padding: 0.5% 0.5% 0.5% 0.5%
        }
    </style>
</head>
<body>
    <div class="titleBorder">
        <div style="height: 15%"></div>
        <div class="titleFont">生成</div>
        <div style="height: 15%"></div>
    </div>
    <div style="height:3%"></div>
    <div style="height:90%">
        <div class="container">
            <div class="col-sm-1"></div>
            <div class="col-sm-25" style="border-right: solid 2px #d6e6ff">
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockHead ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 1.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockHead ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 1.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockHead ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 1.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockHead ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                    </div>
                </div>
                <div style="height: 1.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockHead ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 1.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockHead ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 1.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockHead ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div style="height: 0.5%"></div>
                <div style="height: 4%">
                    <div class="container">
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1:</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-15 blockActive ">
                            <font class="center-vertical">类型1</font>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>

                <div style="height: 5%"></div>
                <div class="bottomLine"></div>
                <div class="container" style="height: 7%;text-align: center">
                    <div class="col-sm-32"></div>
                    <div class="col-sm-30 saveRecord"><font class="save-center-vertical">生成</font></div>
                    <div class="col-sm-35"></div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-70">
                <iframe id="mainPage" src="" frameborder="0" class="subPage"></iframe>
            </div>
        </div>
    </div>
</body>
<script src="../js/jquery-1.8.3.min.js"></script>
<script>
    $(function () {
        $('#mainPage').attr('src', "question");
    })
</script>
</html>