<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/flexPlugin.css" rel="stylesheet">
    <link href="../css/quesBlock.css" rel="stylesheet">
    <style>
        html,body{
            width: 100%;
            height: 100%;
            margin-top: -0.1px;
            margin-left: -0.1px;
        }
    </style>
</head>
<body class="main">
    <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-96">
            <div style="text-align: center;height: 7%">XXXXXXXX题</div>
            <div class="recordContainer">
                <div class="showBody">
                    <div class="content">
                        <div id="content" contentEditable="false" class="showDemo">

                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 3%"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</body>
</html>