<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/flexPlugin.css" rel="stylesheet">
    <style>
        html,body{
            width: 100%;
            height: 100%;
            margin-top: -0.1px;
            margin-left: -0.1px;
        }
        .questionBlock{
            border-top: solid 5px #3685fe;
            border-left: solid 1px #d6e6ff;
            border-right: solid 1px #d6e6ff;
            border-bottom: solid 1px #d6e6ff;
            border-radius: 5px;
        }

    </style>
</head>
<body class="main">
    <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-96">
            <div style="text-align: center;height: 7%">XXXXXXXX题</div>
            <div style="height: 35%">
                <div class="container">
                    <div class="col-sm-100 questionBlock"></div>
                </div>
            </div>
            <div style="height: 3%"></div>
            <div style="height: 35%">
                <div class="container">
                    <div class="col-sm-100 questionBlock"></div>
                </div>
            </div>
            <div style="height: 3%"></div>
            <div style="height: 35%">
                <div class="container">
                    <div class="col-sm-100 questionBlock"></div>
                </div>
            </div>
            <div style="height: 3%"></div>
            <div style="height: 35%">
                <div class="container">
                    <div class="col-sm-100 questionBlock"></div>
                </div>
            </div>
            <div style="height: 3%"></div>
            <div style="height: 35%">
                <div class="container">
                    <div class="col-sm-100 questionBlock"></div>
                </div>
            </div>
            <div style="height: 3%"></div>
            <div style="height: 35%">
                <div class="container">
                    <div class="col-sm-100 questionBlock"></div>
                </div>
            </div>
            <div style="height: 3%"></div>
            <div style="height: 35%">
                <div class="container">
                    <div class="col-sm-100 questionBlock"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</body>
</html>