<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>左侧导航</title>
        <link href="../css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.6.0.css">
		<link rel="stylesheet" href="../leftNav/css/custom.min.css" />
        <link href="../css/flexPlugin.css" rel="stylesheet">
        <link href="../css/customSelect.css" rel="stylesheet">
        <link href="../css/jquery.sPage.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet">

	</head>
	<style type="text/css">
		*{
			padding: 0;margin: 0;
		}
		body,html{
			width: 100%;
			height: 100%;
            overflow: hidden;
            font-size: 1vw;
		}
		.contentLeft {
			float: left;
			width: 20%;
			height: 100%;
			background:#65a2ff;
		}
		
		.contentRight {
			float: left;
			width: 80%;
			height: 100%;
		}

        .blockActive{
            background-color: #65a2ff;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: white;
            cursor: pointer;
            height: 90%;
        }
        .blockSearch{
            background-color: #ffffff;
            border-radius: 3px;
            text-align: center;
            font-size: 2vh;
            color: black;
            cursor: pointer;
            height: 90%;
            /*!*background: url(../images/cx.png);*!*/
            /*background-size: 100% 100%;*/
            /*background-repeat: no-repeat;*/
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #page li{
            cursor:pointer;
        }
        select:focus{
            outline: none;border: 1px solid #d6e6ff;
        }
	</style>

	<body class="nav-md">

		<div class="contentLeft" style="overflow: auto">
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="overflow: auto">
					<ul class="nav side-menu" id="navmenu" style="overflow: auto"></ul>
			</div>
		</div>
		<div class="contentRight">
            <div class="container" style="height: 5%;background-color: #65a2ff;border-left: 1px solid white">
                <div style="height: 5%"></div>
                <div class="col-sm-05"></div>
                <div class="col-sm-15 blockActive ">
                    <select name="question_type" style="">
                        <option value ="" disabled selected style='display:none;'>选择题型</option>
                        <option value ="1">单选</option>
                        <option value ="2">多选</option>
                        <option value="3">填空</option>
                        <option value="4">判断</option>
                        <option value="5">简答</option>
                        <option value="6">实验</option>
                    </select>
                </div>
                <div class="col-sm-05"></div>
                <div class="col-sm-15 blockActive ">
                    <select name="difficult_level" id="difficult_level">
                        <option value="" disabled selected style='display:none;'>选择难度</option>
                        <option value="5.0">困难</option>
                        <option value="4.0">难</option>
                        <option value="3.0">一般</option>
                        <option value="2.0">简单</option>
                        <option value="1.0">十分简单</option>
                    </select>
                </div>
                <div class="col-sm-05"></div>
                <div class="col-sm-30 blockActive ">
                    <select name="majorSubItemName" id="majorSubItemName">
                        <option value="" disabled selected style="display:none;">选择子知识点</option>
                    </select>
                </div>
                <div class="col-sm-05"></div>
                <div class="col-sm-8 blockSearch">
                    检索
                    <!--<div style="height: 100%;display: table-cell;vertical-align: middle">-->
                        <!--<div style="height: 100%">-->
                        <!--<i class="fa fa-search"></i>&nbsp;检索-->

                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
			<div class="right_col" role="main" id="rightContent" style="height: 88%;width: 100%"></div>
            <div style="height: 1%;width: 100%;background-color: white"></div>
            <div style="height: 0.5%;width: 100%;background-color: #65a2ff"></div>
            <div style="height: 5.5%;width: 100%;background-color: #65a2ff;border-left: 1px solid white">
                <div style="height: 100%;float: right;padding-right: 2%">
                    <ul id="page" style="margin: 0"></ul>
                </div>
            </div>

        </div>

		<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
		<script src="https://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
        <script src="../js/bootstrap-paginator.js" type="text/javascript"></script>
        <script src="../leftNav/js/home.js" type="text/javascript" charset="utf-8"></script>

	</body>
    <script>
        var selectOptionFirstTemplate = '<option value ="" disabled selected style="display:none;">OPTIONNAME</option>';
        var selectOptionTemplate = '<option value = OPTIONVALUE>OPTIONNAME</option>';
        $(function () {
            // var currentPage = 1;
            // var totalPages = 25;
            // $("#page").bootstrapPaginator({
            //     bootstrapMajorVersion:3, //对应的bootstrap版本
            //     currentPage: currentPage, //当前页数
            //     numberOfPages: 10, //每次显示页数
            //     totalPages:totalPages, //总页数
            //     shouldShowPage:true,//是否显示该按钮
            //     useBootstrapTooltip:true,
            //     //点击事件
            //     onPageClicked: function (event, originalEvent, type, page) {
            //         console.log(page)
            //     }
            // });

        });
        
        function goToQuestionList(url) {
            $.ajax({
                cache: true,
                type: "GET",
                url: url,
                async: false,
                error: function (request) {
                    layer.alert("error", {icon: 2})
                },
                success: function (data) {
                    changeMajorSub(url.split('=')[1])
                    initPagePlugin(1,data.totalPages)
                    $('#myIframe').attr('src','../highPhyQuesCtl/listInfo');
                }
            });
        }
        
        function initPagePlugin(currentPage,totalPages) {
            $("#page").bootstrapPaginator({
                bootstrapMajorVersion:3, //对应的bootstrap版本
                currentPage: currentPage, //当前页数
                numberOfPages: 10, //每次显示页数
                totalPages:totalPages, //总页数
                shouldShowPage:true,//是否显示该按钮
                useBootstrapTooltip:true,
                //点击事件
                onPageClicked: function (event, originalEvent, type, page) {
                    console.log(page)
                }
            });
        }

        function changeMajorSub(majorSubId) {
            $.ajax({
                cache: true,
                type: "GET",
                url: "../highPhyMajorCtl/getMajorSubItem?id=" + majorSubId,
                async: false,
                error: function (request) {
                    layer.alert("error", {icon: 2})
                },
                success: function (data) {
                    var highPhysicsMajorSubItems = data.highPhysicsMajorSubItems;
                    $('#majorSubItemName').empty();
                    $('#majorSubItemName').append(selectOptionFirstTemplate.replace('OPTIONNAME', '选择子知识点'))
                    for (var i = 0; i < highPhysicsMajorSubItems.length; i++) {
                        $('#majorSubItemName').append(selectOptionTemplate.replace('OPTIONVALUE', highPhysicsMajorSubItems[i].id).replace('OPTIONNAME', highPhysicsMajorSubItems[i].major_sub_item_name));
                    }
                }
            });
        }
    </script>
</html>