select{
    width: 100%;
    border: 1px solid #65a2ff;
    border-radius: 3px;
    color: black;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../images/arrow.png") no-repeat scroll right transparent;
    padding-right: 10px;
    padding-left: 5px;
    background-color: white;
}
select:focus{
    width: 100%;
    border: 1px solid #65a2ff !important;
}