.container {
    height: 100%;
    width: 100%;
}

.containerWithOutHeight {
    height: 100%;
    width: 100%;
}

.container * {
    box-sizing: border-box;
    height: 100%;
}

[class *= 'col-'] {
    float: left;
    min-height: 1px;
    padding: 0px; /* 设置间距 */
}

.col-sm-05 {
    width: 0.5%;
}

.col-sm-1 {
     width: 1%;
 }

.col-sm-2 {
    width: 2%;
}

.col-sm-4 {
    width: 4%;
}

.col-sm-5 {
    width: 5%;
}

.col-sm-6 {
    width: 6%;
}

.col-sm-7 {
    width: 7%;
}

.col-sm-8 {
    width: 8%;
}

.col-sm-10 {
    width: 10%;
}

.col-sm-11 {
    width: 11%;
}

.col-sm-12 {
    width: 12%;
}

.col-sm-13 {
    width: 13%;
}

.col-sm-14 {
    width: 14%;
}

.col-sm-15 {
    width: 15%;
}

.col-sm-18 {
    width: 18%;
}

.col-sm-20 {
    width: 20%;
}

.col-sm-25 {
    width: 25%;
}

.col-sm-30 {
    width: 30%;
}

.col-sm-31 {
    width: 31%;
}

.col-sm-32 {
    width: 32%;
}

.col-sm-50 {
    width: 50%;
}

.col-sm-33 {
    width: 33%;
}

.col-sm-35 {
    width: 35%;
}

.col-sm-38 {
    width: 38%;
}

.col-sm-40 {
    width: 40%;
}

.col-sm-43 {
    width: 43%;
}

.col-sm-44 {
    width: 44%;
}

.col-sm-45 {
    width: 45%;
}

.col-sm-46 {
    width: 46%;
}

.col-sm-48 {
    width: 48%;
}

.col-sm-49 {
    width: 49%;
}

.col-sm-50 {
    width: 50%;
}

.col-sm-55 {
    width: 55%;
}

.col-sm-60 {
    width: 60%;
}

.col-sm-61 {
    width: 61%;
}

.col-sm-62 {
    width: 62%;
}

.col-sm-63 {
    width: 63%;
}

.col-sm-64 {
    width: 64%;
}

.col-sm-68 {
    width: 68%;
}

.col-sm-70 {
    width: 70%;
}

.col-sm-75 {
    width: 75%;
}

.col-sm-80 {
    width: 80%;
}

.col-sm-84 {
    width: 84%;
}

.col-sm-83 {
    width: 83%;
}

.col-sm-85 {
    width: 85%;
}

.col-sm-86 {
    width: 86%;
}

.col-sm-87 {
    width: 87%;
}

.col-sm-90 {
    width: 90%;
}

.col-sm-91 {
    width: 91%;
}

.col-sm-92 {
    width: 92%;
}

.col-sm-96 {
    width: 96%;
}

.col-sm-98 {
    width: 98%;
}

.col-sm-100 {
    width: 100%;
}