<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>JMEditor 国内首款开源在线公式编辑器|所见即所得|简单易用|兼容主流浏览器</title>
    <link href="../formula/style/default.css" rel="stylesheet" media="screen" type="text/css" />
    <script type="text/javascript" src="../formula/jmeditor/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../formula/jmeditor/JMEditor.js"></script>
</head>
<body>
<div class="container">
    <div class="body">
        <div class="content">
            <p style="margin-top: 100px">
            <div id="content" contentEditable="true" class="editDemo">

            </div>
            </p>
            <p>
                <input type="button" onclick="alert(JMEditor.isEmpty('content'));" value="判断是否为空">
                <input type="button" onclick="$('.contentArea').val(JMEditor.html('content'));" value="取值">
                <input type="button" onclick="window.open('view.html');" value="在新窗口中预览">
                <input type="button" onclick="showContent()" value="测试">
            </p>
            <p>
                <textarea class="contentArea"></textarea>
            </p>
            <div id="contentShow" contentEditable="false" class="editDemo">

            </div>
        </div>
    </div>
</div>
</body>
<script>
    function showContent() {
        $('#contentShow').html(JMEditor.html('content'))
        $.ajax({
            cache : true,
            type : "GET",
            url : "/quesBank/demo/save",
            data : {
                "content": JMEditor.html('content')
            },
            async : false,
            error : function(request) {
                alert("error")
            },
            success : function(data) {
                alert(data)
            }
        });
    }
</script>
</html>
